<h1> No Autorizado 👃🤛</h1>

<p>NO TIENES PERMISOS!!!.</p>

<div class="alert alert-info">Si tu Rol es Admin, no podrás realizar compras (hacer uso del carrito).</div>
<div class="alert alert-info">Si tu Rol es User, no podrás utilizar el Realtime de Productos para el ABM.</div>
